{% load static %}
<nav
  style="border-bottom: 1px solid rgba(255, 255, 255, 0.1)"
  class="navbar navbar-expand navbar-dark bg-steel"
>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarToggle">
      <div class="navbar-nav mr-auto pl-2">
        <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
      </div>
      <div class="navbar-nav pr-2">
        {% if user.is_authenticated %} {% comment %}
        <a class="nav-item nav-link" href="{% url 'post_create' %}"
          >Create a Tweet</a
        >
        {% endcomment %}
        <a class="nav-item nav-link" href="{% url 'profile' pk=user.pk %}"
          >Profile</a
        >
        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
        <a class="nav-item nav-link" href="{% url 'register_users' %}"
          >Register</a
        >
        {% endif %}
      </div>
    </div>
  </div>
</nav>
