{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h3 class="white-important">

            {% if others_model %}
                {{ others_model.name }}'s Profile
            {% else %}
                Change your profile data
            {% endif %}
        </h3>
        <div class="">
            {% if others_model %}
                {% if others_form.image %}
                    <img align="right" src="{{ others_model.image.url }}" alt="" height="400">
                {% else %}
                    <img align="right" src="{% static 'default.png' %}" alt="" height="400">
                {% endif %}
            {% else %}
                {% if model.image %}
                    <img align="right" src="{{ model.image.url }}" alt="" height="400">
                {% else %}
                    <img align="right" class="" src="{% static 'default.png' %}" alt="" height="400">
                {% endif %}
            {% endif %}
        </div>


        <form class="col-6 no-padding" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {% if others_model %}
                    <strong><label style="padding-right: 1rem;">Name: </label></strong>
                    <label>{{ others_model.name }}</label><br>
                    <strong><label style="padding-right: 1rem;">Email: </label></strong>
                    <label>{{ others_model.email }}</label><br>
                    <strong><label style="padding-right: 1.5rem;">DOB: </label></strong>
                    <label>{{ others_model.date_of_birth }}</label><br>
                {% else %}
                    {{ form | crispy }}
                {% endif %}

            </fieldset>
            {% if others_model %}

            {% else %}
                <div class="form-group">
                    <button class="btn btn-outline-primary" type="submit">Change data</button>
                </div>
            {% endif %}

        </form>

    </div>
{% endblock content %}